env
*.pyc
*.pyo
*.egg-info
*.egg
*.EGG
*.EGG-INFO

.cache
.filestores
._*
attachments
error.log
.Untitled-*
.DS_Store
keys
nbproject
tags
tmtags
.tags
.tags_sorted_by_file
config
cscope.*
Doxyfile
ignore
logs
.buildpath
.project
.settings/
*.sublime-*
