{% extends "languages/generic.html" %}

{% block content %}

<div id="error">

	<hgroup>
		<h1>{{ error.type }}: {{ error.message }}</h1>
		<h2>
			{% if error.file %}
				File "{{ error.file }}", 
			{% endif %}
			{% if error.line %}
				line {{ error.line }}, 
			{% endif %}
			{% if error.stacktrace %} 
				in {{ error.stacktrace[0].function }}
			{% endif %}
		</h2>
	</hgroup>


	<h2>Related Errors</h2>
	<table class="zebra-striped">
		<thead>

			<tr>
				<th>Message</th>
				<th>Time</th>
			</tr>
		</thead>
		<tbody>
			{% for e in other_errors %}
				<tr>
					<td><a href="/error/{{e._id}}">{{e.message}}</a></td>
					<td data-timeago="{{ e.timestamp }}"></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}