{% extends "layout/fluid-sidebar.html" %}

{% block sidebar %}

	<form action="" method="POST">
		<input type="text" name="search" placeholder="Search">
	</form>

	{{ super() }}

{% endblock %}


{% block navigation %}

	<div id="navigation" class="cf">
		<ul class="pills">
			<li {% if show == 'unseen' %}class="active"{% endif %}><a href="?show=unseen">New ({{ get_error_count('unseen') }})</a></li>
			<li {% if show == 'seen' %}class="active"{% endif %}><a href="?show=seen">Viewed ({{ get_error_count('seen') }})</a></li>
			<li {% if show == 'hidden' %}class="active"{% endif %}><a href="?show=hidden">Hidden ({{ get_error_count('hidden') }})</a></li>
			<li {% if show == 'mine' %}class="active"{% endif %}><a href="?show=mine">Mine ({{ get_error_count('mine') }})</a></li>
			<li {% if show == 'unclaimed' %}class="active"{% endif %}><a href="?show=unclaimed">Unclaimed ({{ get_error_count('unclaimed') }})</a></li>
			<li {% if show == 'all' %}class="active"{% endif %}><a href="?show=all">All ({{ get_error_count('all') }})</a></li>
		</ul>
	</div>

{% endblock %}


{% block content %}

<div id="information">

	<table class="bordered-table zebra-striped" data-tablesort="true">

		<thead>
			<tr>
				<!-- <th></th> -->
				<th>Occurrences</th>
				<th>Type</th>
				<th>Latest Message</th>
				<!-- <th>Tags</th> -->
				<th>Time (newest - oldest)</th>
			</tr>
		</thead>

		<tbody>
			{% for error in errors %}
				<tr>
					<!-- <td class="center"><input type="checkbox" name="error[]"></td> -->
					<td>{{ error.count|int }}</td>
					<td><a href="{{route_url('error_view', project=selected_project.id, id=error._id)}}">{{ error.type }}</a></td>
					<td><a href="{{route_url('error_view', project=selected_project.id, id=error._id)}}" title="error.value.message">{{ error.message|truncate(length=130) }}</a></td>
					<td>
						{% if error.tags %}
							{% for tag in error.tags %}
								<a href="{{route_url('tag_view', project=selected_project.id, tag=tag)}}"><span class="label {{tag.lower()}}">{{tag}}</span></a>
							{% endfor %}
						{% endif %}
					</td>
					<td>
						<span data-timeago="{{ error.timefirst }}"></span> -
						<span data-timeago="{{ error.timelatest }}"></span>
					</td>
				</tr>
			{% endfor %}
		</tbody>

	</table>

	{% include 'layout/paginator.html' %}

</div>

{% endblock %}
