{% extends "layout/fluid-sidebar.html" %}

{% block sidebar %}

	<form action="" method="POST">
		<input type="text" name="search" placeholder="Search">
	</form>

	{{ super() }}

{% endblock %}


{% block navigation %}

	<div id="navigation" class="cf">
		<ul class="pills">
			<li {% if show == 'all' %}class="active"{% endif %}><a href="?show=all">All (500)</a></li>
			<li {% if show == 'unseen' %}class="active"{% endif %}><a href="?show=unseen">Unseen (155)</a></li>
			<li {% if show == 'seen' %}class="active"{% endif %}><a href="?show=seen">Seen (155)</a></li>
			<li {% if show == 'hidden' %}class="active"{% endif %}><a href="?show=hidden">Hidden (345)</a></li>
		</ul>
	</div>

{% endblock %}


{% block content %}

<div id="information">

	<table class="bordered-table zebra-striped">

		<thead>
			<tr>
				<!-- <th></th> -->
				<th>Count</th>
				<th>Type</th>
				<th>Latest Message</th>
				<!-- <th>Tags</th> -->
				<th>Time (newest - oldest)</th>
			</tr>
		</thead>

		<tbody>
			{% for error in errors %}
				<tr>
					<!-- <td class="center"><input type="checkbox" name="error[]"></td> -->
					<td>{{ error.value.count|int }}</td>
					<td><a href="{{route_url('error_view', id=error.value._id)}}">{{ error.value.type }}</a></td>
					<td><a href="{{route_url('error_view', id=error.value._id)}}">{{ error.value.message }}</a></td>
					<!-- <td>
						<span class="label important">{{ error.level }}</span>
						<span class="label">Default</span> 	
						<span class="label success">New</span> 	
						<span class="label warning">Warning</span> 	
						<span class="label important">Important</span> 	
						<span class="label notice">Notice</span>
					</td> -->
					<td>
						<span data-timeago="{{ error.value.youngest }}"></span> -
						<span data-timeago="{{ error.value.oldest }}"></span>
					</td>
				</tr>
			{% endfor %}
		</tbody>

	</table>

</div>

{% endblock %}