{% extends "layout/fluid.html" %}

{% block content %}

<div id="information">

	<table class="zebra-striped">

		<thead>
			<tr>
				<th></th>
				<th>Count</th>
				<th>Type</th>
				<th>Latest Message</th>
				<!-- <th>Tags</th> -->
				<th>Time (newest - oldest)</th>
			</tr>
		</thead>

		<tbody>
			{% for error in errors %}
				<tr>
					<td class="center"><input type="checkbox" name="error[]"></td>
					<td>{{ error.value.count|int }}</td>
					<td><a href="/error/{{ error.value._id }}">{{ error.value.type }}</a></td>
					<td><a href="/error/{{ error.value._id }}">{{ error.value.message }}</a></td>
					<!-- <td>
						<span class="label important">{{ error.value.level }}</span>
					</td> -->
					<td>
						<span data-timeago="{{ error.value.youngest }}"></span> -
						<span data-timeago="{{ error.value.oldest }}"></span>
					</td>
				</tr>
			{% endfor %}
		</tbody>

	</table>

</div>

{% endblock %}