{% extends "layout/fluid-sidebar.html" %}

{% block sidebar %}

	<form action="{{route_url('error_list', project=selected_project.id)}}" method="GET">
		<input type="text" name="search" placeholder="Search" value="{{ search }}">
	</form>

	{{ super() }}

{% endblock %}


{% block navigation %}

	<div id="navigation" class="cf">
		<ul class="pills">
			<li class="{{ switch(has_param(show='all')) }}">
				<a href="{{ set_params({'show': 'all'}) }}">All ({{ get_error_count('all') }})</a>
			</li>
			<li class="{{ switch(has_param(show='mine')) }}">
				<a href="{{ set_params({'show': 'mine'}) }}">Mine ({{ get_error_count('mine') }})</a>
			</li>
			<li class="{{ switch(has_param(show='unclaimed')) }}">
				<a href="{{ set_params({'show': 'unclaimed'}) }}">Unclaimed ({{ get_error_count('unclaimed') }})</a>
			</li>
			<li class="{{ switch(has_param(show='hidden')) }}">
				<a href="{{ set_params({'show': 'hidden'}) }}">Hidden ({{ get_error_count('hidden') }})</a>
			</li>
		</ul>
	</div>

{% endblock %}


{% block content %}

<div id="information">

	<table class="bordered-table zebra-striped">

		<thead>
			<tr>
				<!-- <th></th> -->
				<th class="{{ switch(has_param(order='count')) }}"><a href="{{ set_params({'order': 'count', 'direction': 'asc'}) }}">#</a></th>
				<th class="{{ switch(has_param(order='message')) }}"><a href="{{ set_params({'order': 'message', 'direction': 'asc'}) }}">Latest Message</a></th>
				<th class="{{ switch(has_param(order='type')) }}"><a href="{{ set_params({'order': 'type', 'direction': 'asc'}) }}">Type</a></th>
				<th class="{{ switch(has_param(order='timefirst')) }}"><a href="{{ set_params({'order': 'timefirst', 'direction': 'asc'}) }}">First seen</a></th>
				<th class="{{ switch(has_param(order='timelatest')) }}"><a href="{{ set_params({'order': 'timelatest', 'direction': 'asc'}) }}">Last seen</a></th>
				<th class="{{ switch(has_param(order='tags')) }}"><a href="{{ set_params({'order': 'tags', 'direction': 'asc'}) }}">Tags</a></th>
			</tr>
		</thead>

		<tbody>
			{% for error in errors %}
				<tr class="{{error.get_row_classes(user)}}">
					<!-- <td class="center"><input type="checkbox" name="error[]"></td> -->
					<td>{{ error.count|int }}</td>
					<td>
						<a href="{{route_url('error_view', project=selected_project.id, id=error._id)}}" title="error.value.message">
							{% if error.message %}
								{{ error.message|truncate(length=130) }}
							{% else %}
								An unknown error has occurred
							{% endif %}
						</a>
					</td>
					<td>{{ error.type }}</td>
					<td>
						<span data-timeago="{{ error.timefirst }}"></span>
					</td>
					<td>
						<span data-timeago="{{ error.timelatest }}"></span>
					</td>
					<td>
						{% if error.tags %}
							{% for tag in error.tags %}
								<a class="label" href="{{ toggle_param(tags=tag) }}">{{ tag }}</a>
							{% endfor %}
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>

	</table>

	{% include 'layout/paginator.html' %}

</div>

{% endblock %}
