{% extends "layout/fluid.html" %}

{% block content %}
		
<div id="navigation">
	<ul class="tabs">
		<li class="active"><a href="#">All</a></li>
		<li><a href="#">Opened</a></li>
		<li><a href="#">Closed</a></li>
		<li><a href="#">404's</a></li>
		<li data-dropdown="dropdown" class="dropdown pull-right">
			<a class="dropdown-toggle" href="#">Group By</a>
			<ul class="dropdown-menu">
				<li><a href="#">Secondary link</a></li>
				<li><a href="#">Something else here</a></li>
				<li class="divider"></li>
				<li><a href="#">Another link</a></li>
			</ul>
		</li>
		<li data-dropdown="dropdown" class="dropdown pull-right">
			<a class="dropdown-toggle" href="#">Sort By</a>
			<ul class="dropdown-menu">
				<li><a href="#">Secondary link</a></li>
				<li><a href="#">Something else here</a></li>
				<li class="divider"></li>
				<li><a href="#">Another link</a></li>
			</ul>
		</li>
	</ul>
</div>

<div id="information">

	<table class="zebra-striped">

		<thead>
			<tr>
				<th>Message</th>
				<th>Tags</th>
				<th>Time</th>
			</tr>
		</thead>

		<tbody>
			{% for error in errors %}
				<tr>
					<td>{{error.message}}</td>
					<td>
						<span class="label important">{{error.level}}</span>
					</td>
					<td data-timeago="{{error.timestamp}}"></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

</div>

{% endblock %}