/*
 * Personal Styles
 */

/*	Generic
	------------------------------------------------------------ */

body {
	padding-top: 60px;
}

/*	Top Bar
	------------------------------------------------------------ */

.topbar .container {
	width: 100%;
	padding: 0 20px 0 20px;
}

/*	Container
	------------------------------------------------------------ */

.container-fluid > .content {
	margin-left: 0;
}

/*	Navigation
	------------------------------------------------------------ */

#navigation .tabs {
	float: none;
}

#navigation .tabs > li.pull-right {
	float: right;
}

#navigation .tabs .dropdown-menu {
	border-radius: 6px 0 6px 6px;
	right: 0;
}

/*	Accordion
	------------------------------------------------------------ */

table.accordion th {
	cursor: pointer;
}

table.accordion tbody {
	display: none;
}

/*	Error
	------------------------------------------------------------ */

#error {
	background: #ffffcb;
	border: 1px solid #DDDDDD;
	border-collapse: separate;
	border-radius: 4px 4px 4px 4px;
	font-size: 13px;
	margin-bottom: 18px;
	padding: 15px;
}

#error hgroup {
	margin-bottom: 10px;
}

#error h1 {
	margin: 0;
}

#error h2 {
	color: #6a655f;
	margin: 0;
	font-size: 120%;
	line-height: 1;
}

#error dl {
	margin: 0;	
}

#error dt,
#error dd {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

#error dt {
	width: 15%;
	text-align: right;
}

#error dd {
	width: 75%;
}