{% extends "layout/fluid-sidebar.html" %}
{% block navigation %}{% endblock %}

{% block sidebar %}

	<h5>Related Errors</h5>

	<dl>
		{% for e in other_errors %}
			<dt><a href="{{route_url('error_view', project=selected_project.id, id=e._id)}}">{{e.message}}</a></dt>
			<dd data-timeago="{{ e.timestamp }}"></dd>
		{% endfor %}
	</dl>

{% endblock %}

{% block content %}

	{% block toolbar %}
		<ul id="navigation" class="toolbar cf">
			{% if error.hidden %}
				<li><a href="{{route_url('error_toggle_hide', project=selected_project.id, id=error._id)}}">Unhide Error</a></li>
			{% else %}
				<li><a href="{{route_url('error_toggle_hide', project=selected_project.id, id=error._id)}}">Hide Error</a></li>
			{% endif %}

			{% if error.claimedby %}
				{% if user['email'] == error.claimedby['email'] %}
					<li class="pull-right"><a href="{{route_url('error_toggle_claim', project=selected_project.id, id=error._id)}}">Unclaim Error</a></li>
				{% else %}
					<li class="pull-right no-link">Claimed by {{ error.claimedby['name'] }}</li>
				{% endif %}
			{% else %}
				<li class="pull-right"><a href="{{route_url('error_toggle_claim', project=selected_project.id, id=error._id)}}">Claim Error</a></li>
			{% endif %}
		</ul>
	{% endblock %}

	<div id="error">

		<hgroup>
			<h1>{{ error.type }}: {{ error.message }}</h1>
			<h2>
				{% if error.file %}
					File "{{ error.file }}",
				{% endif %}
				{% if error.line %}
					line {{ error.line }},
				{% endif %}
				{% if instance.backtrace %}
					in {{ instance.backtrace[0].function }}
				{% endif %}
			</h2>
		</hgroup>

		<dl>
			{% if error.code %}
			<dt>Code</dt>
			<dd>{{ error.code }}</dd>
			{% endif %}

			{% if error.severity %}
			<dt>Severity</dt>
			<dd>{{ error.severity }}</dd>
			{% endif %}

			{% if error.language %}
			<dt>Language</dt>
			<dd>{{ error.language }}</dd>
			{% endif %}

			{% if error.level %}
			<dt>Level</dt>
			<dd>{{ error.level }}</dd>
			{% endif %}

			{% if error.timestamp %}
			<dt>Timestamp</dt>
			<dd><span data-timeago="{{ error.timestamp }}"></span></dd>
			{% endif %}

			{% if error.application %}
			<dt>Application</dt>
			<dd>{{ error.application }}</dd>
			{% endif %}

			{% if error.host %}
			<dt>Host</dt>
			<dd>{{ error.host }}</dd>
			{% endif %}

			{% if instance.context %}
				{% for key in instance.context %}
					<dt>{{key}}</dt>
					<dd>{{ instance.context[key] }}</dd>				
				{% endfor %}
			{% endif %}
		</dl>

	</div>

	<h2>Stacktrace</h2>
	<table class="bordered-table zebra-striped">

		<thead>
			<tr>
				<th>Method</th>
				<th>File</th>
			</tr>
		</thead>

		<tbody>

			{% for row in instance.backtrace %}
				<tr>
					<td>
						{% if row.class %}{{ row.class }}::{% endif %}{% if row.function %}{{ row.function }}{% endif %}
					</td>
					<td>
						{% if row.file %}
							{{ row|github_link }}
						{% else %}
							-
						{% endif %}
					</td>
				</tr>
			{% endfor %}

		</tbody>

	</table>

	{% if form and user %}
		{{ form }}
	{% endif %}

	{% if error.comments %}
	<ul id="comments">
		{% for row in error.comments %}
			<li class="comment">
				<div class="comments-info">
					About <span data-timeago="{{ row.created }}">{{ row.created }}</span> {{ row.author.name }} said:
				</div>
				<div class="comments-comment">
					{{ row.content }}
				</div>
				</td>
			</li>
		{% endfor %}
	</ul>
	{% endif %}

{% endblock %}
