{% extends "layout/fluid-sidebar.html" %}
{% block navigation %}{% endblock %}

{% block sidebar %}

	<h5>Related Errors</h5>

	<dl>
		{% for e in other_errors %}
			<dt><a href="/error/{{e._id}}">{{e.message}}</a></dt>
			<dd data-timeago="{{ e.timestamp }}"></dd>
		{% endfor %}
	</dl>

{% endblock %}

{% block content %}

<div id="error">

	<hgroup>
		<h1>{{ error.type }}: {{ error.message }}</h1>
		<h2>
			{% if error.file %}
				File "{{ error.file }}", 
			{% endif %}
			{% if error.line %}
				line {{ error.line }}, 
			{% endif %}
			{% if error.stacktrace %} 
				in {{ error.stacktrace[0].function }}
			{% endif %}
		</h2>
	</hgroup>

	<dl>
		{% if error._id %}
		<dt>ID</dt>
		<dd>{{ error._id }}</dd>
		{% endif %}
		
		{% if error.code %}
		<dt>Code</dt>
		<dd>{{ error.code }}</dd>
		{% endif %}
		
		{% if error.hash %}
		<dt>Hash</dt>
		<dd>{{ error.hash }}</dd>
		{% endif %}
		
		{% if error.severity %}
		<dt>Severity</dt>
		<dd>{{ error.severity }}</dd>
		{% endif %}
		
		{% if error.language %}
		<dt>Language</dt>
		<dd>{{ error.language }}</dd>
		{% endif %}
		
		{% if error.level %}
		<dt>Level</dt>
		<dd>{{ error.level }}</dd>
		{% endif %}
		
		{% if error.timestamp %}
		<dt>Timestamp</dt>
		<dd><span data-timeago="{{ error.timestamp }}"></span></dd>
		{% endif %}
		
		{% if error.application %}
		<dt>Application</dt>
		<dd>{{ error.application }}</dd>
		{% endif %}
		
		{% if error.host %}
		<dt>Host</dt>
		<dd>{{ error.host }}</dd>
		{% endif %}
		
		{% if error.context['Server Name'] %}
		<dt>Server Name</dt>
		<dd>{{ error.context['Server Name'] }}</dd>
		{% endif %}
		
		{% if error.context['User IP'] %}
		<dt>User IP</dt>
		<dd>{{ error.context['User IP'] }}</dd>
		{% endif %}
		
		{% if error.context['Request'] %}
		<dt>Request</dt>
		<dd>{{ error.context['Request'] }}</dd>
		{% endif %}
		
		{% if error.context['Environment'] %}
		<dt>Environment</dt>
		<dd>{{ error.context['Environment'] }}</dd>
		{% endif %}
		
		{% if error.context['Referer'] %}
		<dt>Referer</dt>
		<dd>{{ error.context['Referer'] }}</dd>
		{% endif %}
		
		{% if error.context['User'] %}
		<dt>User</dt>
		<dd>{{ error.context['User'] }}</dd>
		{% endif %}
		
		{% if error.context['User Agent'] %}
		<dt>User Agent</dt>
		<dd>{{ error.context['User Agent'] }}</dd>
		{% endif %}
	</dl>

</div>

<h2>Stacktrace</h2>
<table class="zebra-striped">

	<thead>
		<tr>
			<th>File</th>
			<th>Method</th>
		</tr>
	</thead>

	<tbody>
		
		{% for row in error.stacktrace %}
			<tr>
				<td>
					{{ row.file }}:{{ row.line }}
				</td>
				<td>
					{% if row.class %}{{ row.class }}::{% endif %}{% if row.function %}{{ row.function }}{% endif %}
				</td>
			</tr>
		{% endfor %}

	</tbody>
	
</table>

{% endblock %}