{% extends "layout/page.html" %}

{% block container %}

<div class="container-fluid has-sidebar">

	<div class="sidebar">
		<div class="well">

			{% block sidebar %}
				<h5>Tags</h5>
				<ul class="tag-list">
					<li class="{{ has_param({'tag': 'Default'}) }}"><a href="{{ set_params({'tag': 'Default'}, toggle=True) }}">Default</a></li>
					<li class="{{ has_param({'tag': 'New'}) }}"><a href="{{ set_params({'tag': 'New'}, toggle=True)}}">New</a></li>
					<li class="{{ has_param({'tag': 'Warning'}) }}"><a href="{{ set_params({'tag': 'Warning'}, toggle=True) }}">Warning</a></li>
					<li class="{{ has_param({'tag': 'Important'}) }}"><a href="{{ set_params({'tag': 'Important'}, toggle=True) }}">Important</a></li>
					<li class="{{ has_param({'tag': 'Notice'}) }}"><a href="{{ set_params({'tag': 'Notice'}, toggle=True) }}">Notice</a></li>
				</ul>
			{% endblock %}

		</div>
	</div>

	<div class="content">

		{% block content %}{% endblock %}

	</div>
</div>

{% endblock %}
