{% extends "layout/base.html" %}

{% block body %}

	{% block topbar %}

		<header class="topbar">
			<div class="fill">
				<div class="container">

					<a href="{{route_url('index')}}" class="brand">Triage</a>
					
					<ul class="nav">

						<li data-dropdown="dropdown" class="dropdown pull-right">
							<a class="dropdown-toggle" href="">{{selected_project.name}}</a>
							<ul class="dropdown-menu">
								{% for p in available_projects.itervalues() %}
									<li {% if p.id == selected_project.id %}class="active"{% endif %}>
										<a href="{{route_url('error_list', project=p.id)}}">{{p.name}}</a>
									</li>
								{% endfor %}
							</ul>
						</li>

						<li><a href="#frontend">Configure</a></li>

					</ul>

				</div>
			</div>
		</header>

	{% endblock %}

	{% block navigation %}

		<div id="navigation" class="cf">
			<ul class="pills">
				<li class="active"><a href="#">All (500)</a></li>
				<li><a href="#">Opened (155)</a></li>
				<li><a href="#">Closed (345)</a></li>
				<li><a href="#">404's (20)</a></li>
			</ul>
		</div>

	{% endblock %}

{% block container %}{% endblock %}

{% endblock %}