<ul class="paginator">

	{% if paginator.has_prev() %}
		<li><a href="{{append_param({'page': paginator.get_first()})}}">&lt;&lt;</a></li>
		<li><a href="{{append_param({'page': paginator.get_current_page_number() - 1})}}">&lt;</a></li>
	{% endif %}

	{% for number in range(0, paginator.get_num_pages()) %}
		<li><a href="{{append_param({'page': number + 1})}}">{{ number + 1 }}</a></li>
	{% endfor %}

	{% if paginator.has_next() %}
		<li><a href="{{append_param({'page': paginator.get_current_page_number() + 1})}}">&gt;</a></li>
		<li><a href="{{append_param({'page': paginator.get_last()})}}">&gt;&gt;</a></li>
	{% endif %}

</ul>